@model RegisterViewModel

<form asp-action="Register" method="post">
    <label>Email</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label>Password</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label>Confirm Password</label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>

    <button type="submit">Register</button>
</form>
